.component {
  flex-shrink: 0;

  &__content-card {
    background-color: rgb(220, 220, 220);
    text-align: left;

    &__container {
      display: flex;
      gap: 30px;

      .avatar {
        height: 50px;
        width: 50px;
      }
    }
  }
}